autocompile.sh
/Vendor
/Vendor/*
composer.lock
/app/webroot/vendor
/app/webroot/vendor/*
app/Config/local.php
app/Config/database.php
app/tmp
app/tmp/*
/Plugin
/Plugin/*
.project
/.idea/.name
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/suits.iml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/codeStyleSettings.xml
/.idea/lessc/lessc.xml
/.idea/watcherTasks.xml
/nbproject/private/
/nbproject

.DS_Store
config.codekit

/.idea
/node_modules
/materials
/backups
/composer.phar

.htaccess
.buildpath
.settings/

app/tmp

*.sql
sql

*.tar.gz
*.zip
*.tar
*.csv
app/webroot/Uploaded/
app/webroot/files/
app/webroot/files-backup/
