<div id="what-we-need-to-know" class="modal fade ">
  <div class="modal-dialog">
    <div class="modal-content">
        <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-body modal-no-header">
            <p>{!_messages.what_we_need_to_know.content}</p>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
