{layout ../@admin.latte}

{block #content}

    <div class="row">
        <div class="col-xs-6">
            <h1>{_messages.admin.menu.pages}</h1>
        </div>
        <div class="col-xs-6 text-right">
            <a n:href="Site:add" class="btn btn-primary">{_messages.admin.actions.add}</a>
        </div>
    </div>

    <div class="col-xs-12">
        {control listing}
    </div>

{/block}
