{block #footer}
	<!-- Contact Section -->
    <section id="contact" class="section-gray">
        <div class="container">
            <div class="row">
                
                <div class="col-xs-12 text-center">
                    <br /><br />
                    <span class="hc">&copy; 2016 捷信版权所有, ICP: 津ICP备12001060号</span>
                </div>
            </div>
        </div>
    </section>
{/block}
